In [1]:
import pandas as pd

In [2]:
recipes = pd.read_csv('classified_recipes.csv')
recipes.head(2)

,id,title,description,classification,recipeType,ratingCount,ratingValue,prepTime,cookTime,recipeCategory,recipeCuisine
0,1,"Chickpea, spinach and egg curry",This vegetarian low-calorie chickpea curry mak...,1,Recipe,51,4.3,30,30,Main course,Indian
1,2,"Tomato, chickpea and pasta soup","This cheap, quick and easy soup is based on an...",1,Recipe,17,4.5,30,30,Light meals & snacks,Italian

In [3]:
from sklearn.preprocessing import LabelEncoder

labels = ['recipeType', 'recipeCategory', 'recipeCuisine']
encoders = {}
for label in labels:
    encoders[label] = LabelEncoder()
    recipes[label + '_n'] = encoders[label].fit_transform(recipes[label])

recipes.head(2)

,id,title,description,classification,recipeType,ratingCount,ratingValue,prepTime,cookTime,recipeCategory,recipeCuisine,recipeType_n,recipeCategory_n,recipeCuisine_n
0,1,"Chickpea, spinach and egg curry",This vegetarian low-calorie chickpea curry mak...,1,Recipe,51,4.3,30,30,Main course,Indian,0,4,5
1,2,"Tomato, chickpea and pasta soup","This cheap, quick and easy soup is based on an...",1,Recipe,17,4.5,30,30,Light meals & snacks,Italian,0,3,6

In [4]:
labels += ['title', 'description']
recipes.drop(columns = labels, inplace=True)

well need to incorporate ingredients on this probably as a vector on each recipe method

In [5]:
recipes.head()

,id,classification,ratingCount,ratingValue,prepTime,cookTime,recipeType_n,recipeCategory_n,recipeCuisine_n
0,1,1,51,4.3,30,30,0,4,5
1,2,1,17,4.5,30,30,0,3,6
2,3,1,34,4.7,30,30,0,4,3
3,14,1,92,4.4,30,0,0,2,1
4,15,0,21,4.6,30,0,0,4,6

In [6]:
ingredients = pd.read_json('ingredients.json')
ingredients.head()

,id,name,created_at,updated_at,badge_id,score_1,score_2,score_3,cupboard
0,191,Smoked salmon,2021-04-26 10:52:44.769000+00:00,2021-05-21 21:23:09.963000+00:00,13,5,1,0,False
1,190,Smoked mackerel,2021-04-26 10:52:10.914000+00:00,2021-05-21 21:23:09.957000+00:00,13,5,1,0,False
2,189,Peanut butter,2021-04-26 10:48:18.280000+00:00,2021-05-21 21:23:09.951000+00:00,17,5,1,0,False
3,188,Parmigiano cheese,2021-04-26 10:47:19.590000+00:00,2021-05-21 21:23:09.945000+00:00,16,5,1,0,False
4,186,Jam,2021-04-26 10:44:29.396000+00:00,2021-05-21 21:23:09.939000+00:00,22,5,1,0,False

In [7]:
ingredients_names = set(ingredients['name'])
ingredients_names = set([name.lower() for name in ingredients_names])

In [8]:
for ingredient in ingredients_names:
    recipes[ingredient] = 0

recipes.head(2)

,id,classification,ratingCount,ratingValue,prepTime,cookTime,recipeType_n,recipeCategory_n,recipeCuisine_n,chocolate,...,dijon mustard,green onion,tartar sauce,prosciutto,onion,salad,parmigiano cheese,parsley,coconut cream,english muffin
0,1,1,51,4.3,30,30,0,4,5,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,17,4.5,30,30,0,3,6,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
recipe_ingredients = pd.read_csv(os.path.join('recipes', 'recipe_ingredients.csv'))
recipe_ingredients.head(2)

,id,recipe_id,ingredient_name,Quantity,Comment,Wrong_Name,Column1,_1,_2,_3,_4,_5
0,0,0,olive oil,2 tbsp,NaN,FALSO,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,red onion,�,thinly sliced,FALSO,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
recipe_ingredients = recipe_ingredients[['recipe_id', 'ingredient_name']]
recipe_ingredients.head(2)

   recipe_id ingredient_name
0          0       olive oil
1          0       red onion

In [11]:
for recipe_id, ingredient in list(recipe_ingredients.to_records(index=False)):
    if ingredient in ingredients_names:
        recipes.loc[recipes['id']==recipe_id, ingredient] = 1

In [12]:
recipes.head()

,id,classification,ratingCount,ratingValue,prepTime,cookTime,recipeType_n,recipeCategory_n,recipeCuisine_n,chocolate,...,dijon mustard,green onion,tartar sauce,prosciutto,onion,salad,parmigiano cheese,parsley,coconut cream,english muffin
0,1,1,51,4.3,30,30,0,4,5,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,17,4.5,30,30,0,3,6,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,34,4.7,30,30,0,4,3,0,...,0,0,0,0,1,0,0,1,0,0
3,14,1,92,4.4,30,0,0,2,1,0,...,0,0,0,0,0,0,0,0,0,0
4,15,0,21,4.6,30,0,0,4,6,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
recipes[recipes['id']==1]['smoked salmon']

0    0
Name: smoked salmon, dtype: int64

preparing data for machine learning

In [14]:
X = recipes.drop(columns = ['classification'])
y = recipes['classification']

implementing random forest classification model

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [16]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=20)

In [17]:
model.score(X_test, y_test)

0.8

trying out several models

In [18]:
from sklearn.model_selection import GridSearchCV

# Importing models
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

# Defining parameters to be searched
model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20,40,50],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10,20]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10,40,50]
        }
    },
    'gaussian_nb' : {
        'model': GaussianNB(),
        'params': {}
    },
    'multinomial_nb' : {
        'model': MultinomialNB(),
        'params': {}
    },
    'decision_tree' : {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini','entropy'],
        }
    }
}

# i still need to ajust all the parameters and use some real data to do so

In [19]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X, y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
results = pd.DataFrame(scores,columns=['model','best_score','best_params'])
results

                 model  best_score                    best_params
0                  svm    0.604444  {'C': 10, 'kernel': 'linear'}
1        random_forest    0.666667            {'n_estimators': 5}
2  logistic_regression    0.604444                      {'C': 40}
3          gaussian_nb    0.457778                             {}
4       multinomial_nb    0.557778                             {}
5        decision_tree    0.564444       {'criterion': 'entropy'}

In [20]:
# getting best result model and param